{% extends "_base.html" %}
{% load i18n %}

{% block content %}
    {% if not error_msg %}
        <h2>{%  trans "Your account has been activated successfully!" %}</h2>
        <p>{% trans "You can login and start uploading now." %}</p>
    {% else %}
        <h2>{% trans "There is a problem activating your account!" %}</h2>
        <p>{{ error_msg }}</p><br/>
        <p>{% trans "Click" %} <a href="{% url 'resend_activation' %}">{% trans "here" %}</a> {% trans "to request a new activation email." %}</p>
    {% endif %}
{% endblock %}
