{% extends "_base.html" %}
{% load i18n %}

{% block content %}

    {% if user.is_authenticated %}
        You are {{ user }} and logged in!
        <a href="{% url 'logout' %}">Out!</a>
    {% else %}
        <form method="post" action="{% url 'login' %}">
            {{ form.as_p }}
            <input type="submit" value="{% trans "login" %}" class="button btn-primary" />
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
            {% csrf_token %}
        </form>
        <p>{% trans "Forgot password" %}? <a href="{% url 'reset_password' %}">{% trans "Reset it" %}</a>!</p>
        <p>{% trans "Not a member" %}? <a href="{% url 'register' %}">{% trans "Register" %}</a>!</p>
    {% endif %}

{% endblock %}
