{% extends "_base.html" %}
{% load i18n %}

{% block content %}
    {% if validlink %}
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="{% trans 'Change my password' %}" class="button" />
        </form>
    {% else %}
        <h1>{% trans "Password reset unsuccessful" %}</h1>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used." %}</p>
        <p>{% trans "Please request a new password reset" %} <a href="{% url 'reset_password' %}">{% trans "here" %}</a>.</p>
    {% endif %}
{% endblock %}
