{% extends "_base.html" %}
{% load i18n %}

{% block content %}
    <p>{% trans "Please specify your email address to receive instructions for resetting it" %}.</p>

    <form action="" method="post">
        {% include '_base_form.html' %}
        {% csrf_token %}
        <input type="submit" value="{% trans "Reset password" %}" class="button" />
    </form>

    <p>{% trans "In case of any problem, please contact support@whambush.com" %}</p>
{% endblock %}
