{% extends "_base.html" %}
{% load i18n %}

{% block content %}
    {% if not activation_required %}
        <form action="{% url 'register' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}

            <input type="submit" value="{% trans "Submit" %}" class="button" />
        </form>
    {% else %}
        <h1>{% trans "Registration successful" %}!</h1>
        <p>{% trans "Please check your email to activate your account" %}.</p>
    {% endif %}
{% endblock %}
