{% extends '_base.html' %}
{% load i18n %}

{% block content %}
    {% if success %}

        <h2>{% trans "Email sent" %}!</h2>
        <p>{% trans "Please check your email to activate your account" %}. {% trans "If you can not find the email, please check your bulk/spam folder" %}.</p>
        <p>{% trans "In case of any problem, please contact support@whambush.com" %}</p>

    {% else %}

        <h2>{% trans "Requesting activation code" %}</h2>
        <form action="{% url 'resend_activation' %}" method="post">{% csrf_token %}
            {% include '_base_form.html' %}

            <button type="submit" class="button">{% trans "Submit" %}</button>
        </form>
        <p>{% trans "In case of any problem, please contact support@whambush.com" %}</p>

    {% endif %}
{% endblock %}
