{% if form.non_field_errors %}
    <div class="alert-box warning radius">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
        <a href="#" class="close">&times;</a>
    </div>
{% endif %}

{% for field in form %}
    {% if not field.is_hidden %}
        {{ field.label_tag }}
        {{ field|safe }}
        <p {% if field.errors %}class="field_error"{% endif %}>{{ field.errors.as_text }}</p>
    {% else %}
        {{ field|safe }}
        <p {% if field.errors %}class="field_error"{% endif %}>{{ field.errors.as_text }}</p>
    {% endif %}
{% endfor %}