{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Whambush</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- meta -->
    <meta property="og:site_name" content="Whambush"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    {% block meta_tags %}{% endblock %}
    <!-- // meta -->


    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'img/icon.png' %}">

    <script src="{% static 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    {% block extra_top %}{% endblock %}
    {{ config.TRACKING_CODE|safe }}
</head>

<body class="{% block bodyclass %}{% endblock %}">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div id="wrapper" class="row">
        {% block content %}{% endblock %}
    </div> <!-- // #wrapper -->

    {% block footer %}{% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.9.1.min.js" %}"><\/script>')</script>

    {% comment %}
    <script src="{% static 'js/main.js' %}"></script>
    {% endcomment %}

    {% block extra_bottom %}{% endblock %}
</body>
</html>
