/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
.ie9 img[src*=".svg"] {
  width: 100%; 
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"] {
    width: 100%; 
  }
}


@font-face {
  font-family: "LeagueGothicRegular";
  src: url("../fonts/leaguegothic-regular-webfont.eot");
  src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-regular-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #292b35;
  box-sizing: border-box;
  color: #fafafa;
  font-size: 15px;
}
body.homepage {
  background: url(../img/bg_color.png) repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.video {
  background: #11121b url(../img/bg_standard.jpg) no-repeat top center;
}

footer {
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 95px;
  background: url(../img/grass.png) repeat-x bottom left;
  background-size: 690px 100px;
}

p {
  font-weight: 300;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "LeagueGothicRegular", Arial, sans-serif;
  color: #fafafa;
  text-transform: uppercase;
}

label {
  font-family: "LeagueGothicRegular", Arial, sans-serif;
  color: #fafafa;
  padding: 0 0 5px 0;
  font-size: 18px;
}

input[type="text"], input[type="password"], input[type="email"] {
  background: none;
  border-radius: 20px;
  border: 2px solid #434957;
  color: #fafafa;
  font-size: 14px;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
  background: none;
}

ul {
  font-size: 15px;
}

.button {
  background: none;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #adc234;
  text-align: center;
  padding: 10px 20px;
  color: #adc234;
  font-family: "LeagueGothicRegular", Arial, sans-serif;
  text-transform: uppercase;
}
.button:hover, .button:focus {
  background: #adc234;
  color: #292b35;
}

.field_error {
  color: #cd554a;
  font-size: 12px;
}

#wrapper {
  padding-top: 3%;
}

.landing_left {
  text-align: center;
}
.landing_left p {
  text-align: center;
  margin: 7px 0 0 0;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  font-size: 16px;
}
.landing_left .download {
  padding-top: 20px;
  margin: 0 auto;
}

.monkey {
  position: relative;
  float: left;
  margin-left: 0px;
  margin-top: 300px;
}

.phone {
  position: relative;
  float: left;
  margin-left: -72px;
  z-index: 5;
}

.video_wrapper {
  background: #272934;
  background: rgba(39, 41, 52, 0.7);
  padding: 0;
  margin-bottom: 20px;
}
.video_wrapper .header {
  height: 70px;
  display: block;
}
.video_wrapper .header .logo img {
  padding: 15px;
}
.video_wrapper .flowplayer {
  margin-bottom: 15px;
}
.video_wrapper article {
  word-wrap: break-word;
}
.video_wrapper article h1 {
  font-size: 35px;
  line-height: 40px;
  margin: 0;
}
.video_wrapper article p {
  margin-bottom: 5px;
}
.video_wrapper article .time {
  font-size: 9px;
}
.video_wrapper article .user, .video_wrapper article p a {
  color: #899732;
}
.video_wrapper article header {
  padding: 0 20px 5px 20px;
  position: relative;
}
.video_wrapper article .video_bar {
  background: #303340;
  position: relative;
  overflow: hidden;
}
.video_wrapper article .video_bar .video_info {
  float: left;
  padding: 15px 10px;
  height: 60px;
}
.video_wrapper article .video_bar .video_info .count {
  float: left;
  padding: 0 15px;
}
.video_wrapper article .video_bar .video_info .count img {
  vertical-align: bottom;
}
.video_wrapper article .video_bar .video_info .count span {
  font-family: "LeagueGothicRegular", Arial, sans-serif;
  font-size: 30px;
  padding-left: 10px;
}
.video_wrapper article .video_bar .video_info .banana {
  color: #ffd41a;
}
.video_wrapper article .video_bar .video_info .shit {
  color: #874430;
}
.video_wrapper article .video_bar .sharing {
  float: left;
  padding: 12px;
}
.video_wrapper article .video_bar .sharing .facebook, .video_wrapper article .video_bar .sharing .twitter {
  border-left: 1px #20222d solid;
  float: left;
  color: #545d70;
  text-decoration: none;
  font-size: 30px;
  padding: 15px;
}
.video_wrapper article .video_bar .sharing .facebook i, .video_wrapper article .video_bar .sharing .twitter i {
  width: 30px;
}
.video_wrapper article .video_bar .sharing .twitter {
  border-right: 1px #20222d solid;
}
.video_wrapper article .video_bar .download {
  float: right;
  padding: 10px 20px;
  text-align: center;
}
.video_wrapper article .video_bar .download > div {
  margin: 0 auto;
}
.video_wrapper article .comments {
  padding: 20px 50px;
}
.video_wrapper article .comments .comment {
  padding-bottom: 10px;
}
.video_wrapper article .comments .comment .bubble {
  padding: 10px;
}
.video_wrapper article .comments .comment .bubble .content {
  font-size: 14px;
  padding-bottom: 10px;
}
.video_wrapper article .comments .comment .bubble .user {
  font-size: 10px;
}

@media (max-width: 840px) {
  .video_wrapper article .video_bar .download {
    border-left: none;
    border-top: 1px #20222d solid;
    width: 100%;
  }
}
@media (max-width: 640px) {
  #wrapper { padding-top: 0px; }

  .video_wrapper article .comments {
    padding: 20px;
  }
}
