{% extends "emails/_base_email.html" %}
{% load i18n %}

{% block content %}

<h2 class="null">{{ title }}</h2>
<br>

<p>{% trans "Please activate your account by clicking link below. This way we know that the email is working." %}</p>

<p><a href="{{ domain }}{% url 'activate' key=key %}">{% trans "Click here!" %}</a></p>

<p>{% trans "Have fun" %}<br>{% trans "Whambush Team" %}</p>

{% endblock content %}
