{% extends "emails/_base_email.html" %}
{% load i18n %}

{% block content %}

<h2 class="null">{{ title }}</h2>
<br>

<p>{% trans "You're receiving this email because you requested a password reset for your user account at Whambush" %}.</p>

<p>{% trans "Please go to the following page and choose a new password:" %}</p>

<p>{{ domain }}{% url "whambush.apps.accounts.views.reset_password_confirm" uidb64=uid token=token %}</p>

<p>{% trans "Your username, in case you've forgotten:" %} {{ user.username }}</p>

<p>{% trans "Thank you for using Whambush!" %}</p>

<p>{% trans "The Whambush team" %}</p>

{% endblock content %}
