@font-face
  font-family: "LeagueGothicRegular"
  src: url('../fonts/leaguegothic-regular-webfont.eot')
  src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/leaguegothic-regular-webfont.woff') format("woff"), url('../fonts/leaguegothic-regular-webfont.ttf') format("truetype"), url('../fonts/leaguegothic-regular-webfont.svg#LeagueGothicRegular') format("svg")
  font-weight: normal
  font-style: normal