@import "_media_queries", "_settings"

// ------------------------------ GLOBAL ------------------------------ //

body
  background: $main_bg_color
  box-sizing: border-box
  color: $white
  font-size: 15px
  &.homepage
    background: url(../img/bg_color.png) repeat center center
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
  &.video
    background: #11121b url(../img/bg_standard.jpg) no-repeat top center

footer
  left: 0
  bottom: 0
  position: fixed
  width: 100%
  height: 95px
  background: url(../img/grass.png) repeat-x bottom left
  background-size: 690px 100px

p
  font-weight: 300
  @include font_helvetica
  font-size: 15px

h1, h2, h3, h4, h5, h6
  @include font_league
  color: $white
  text-transform: uppercase

label
  @include font_league
  color: $white
  padding: 0 0 5px 0
  font-size: 18px

input[type="text"], input[type="password"], input[type="email"]
  background: none
  border-radius: 20px
  border: 2px solid $dark_blue
  color: $white
  font-size: 14px
  &:focus
    background: none

ul
  font-size: 15px

// ------------------------------ GlOBAL CLASSES ------------------------------ //

.button
  background: none
  font-size: 16px
  border-radius: 20px
  border: 1px solid $light_green
  text-align: center
  padding: 10px 20px
  color: $light_green
  @include font_league
  text-transform: uppercase
  &:hover, &:focus
    background: $light_green
    color: $main_bg_color

.field_error
  color: $red
  font-size: 12px

// ------------------------------ STRUCTURE ------------------------------ //

#wrapper
  padding-top: 3%

.landing_left
  text-align: center
  p
    text-align: center
    margin: 7px 0 0 0
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7)
    font-size: 16px
  .download
    padding-top: 20px
    margin: 0 auto

.monkey
  position: relative
  float: left
  margin-left: 0px
  margin-top: 300px

.phone
  position: relative
  float: left
  margin-left: -72px
  z-index: 5



// ----- video page -----
.video_wrapper
  background: rgb(39, 41, 52)
  background: rgba(39, 41, 52, 0.7)
  padding: 0
  margin-bottom: 20px
  .header
    height: 70px
    display: block
    .logo img
      padding: 15px
  .flowplayer
    margin-bottom: 15px
  article
    word-wrap: break-word
    h1
      font-size: 35px
      line-height: 40px
      margin: 0
    p
      margin-bottom: 5px
    .time
      font-size: 9px
    .user, p a
      color: #899732  // TODO
    header
      padding: 0 20px 5px 20px
      position: relative
    .video_bar
      background: #303340
      position: relative
      overflow: hidden
      .video_info
        float: left
        padding: 15px 10px
        height: 60px
        .count
          float: left
          padding: 0 15px
          img
            vertical-align: bottom
          span
            @include font_league
            font-size: 30px
            padding-left: 10px
        .banana
          color: #ffd41a
        .shit
          color: #874430
      .sharing
        float: left
        padding: 12px
        .facebook, .twitter
          border-left: 1px #20222d solid
          float: left
          color: #545d70
          text-decoration: none
          font-size: 30px
          padding: 15px
          i
            width: 30px
        .twitter
          border-right: 1px #20222d solid
      .download
        float: right
        padding: 10px 20px
        text-align: center
        > div
          margin: 0 auto
    .comments
      padding: 20px 50px
      .comment
        padding-bottom: 10px
        .bubble
          background: #12151d
          border-radius: 10px
          padding: 10px
          .content
            font-size: 14px
            padding-bottom: 10px
          .user
            font-size: 10px


// ------------------------------ RESPONSIVE ------------------------------ //
@media (max-width: 840px)
  .video_wrapper 
    article
      .video_bar
        .download
          border-left: none
          border-top: 1px #20222d solid
          width: 100%

@media (max-width: 640px)
  .video_wrapper 
    article
      .comments
        padding: 20px
